<a href="https://colab.research.google.com/github/c-njenga/Project/blob/main/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ANALYZING THE FOOD INSECURITY IN KARAMOJA REGION

# BUSINESS PROBLEM

As a Data Analyst, I assessed the Karamoja food security crisis. Where the data contains the districts of the Karamoja Region and the 2 main food crops grown, I can monitor the food security and produce insights on how to improve the food security in the region.

#  PROJECT OVERVIEW

  By creating an interactive visualization the stakeholders can monitor the food situation in the region and come up with solutions on the most effective way to curb food insecurity.

# OBJECTIVES OF THE STUDY



*   To determine which crop has the highest productivity
*   To determine which densely populated areas should be given more focus
* To determine which district had the highest crop yeild

* To establish the relationship between area and, crop area and yield

**Data Collection and Preparation**

The data used will be obtained from Dalberg Data Insights. Data preparation will include cleaning the data to ensure there is no missing data and no duplicates.

**Understanding the data**

Loading all the required libraries and data

In [ ]:
# Importing all libralies
import pandas as pd
import numpy as np

In [ ]:
# Loading the zip module to extract data from the zip folder
from zipfile import ZipFile
data = "DATA.zip"
with ZipFile('DATA.zip', 'r') as zip:
  zip.printdir()
  zip.extractall()

In [ ]:
# A function to show all the files in the zip folder
file_info_list = zip.infolist()
file_list = []
for file_info in file_info_list:
  file_list.append(file_info.filename)
  print("The file list are-",file_list)

In [ ]:
# Creating a pandas dataframe to data cleaning
df= pd.concat(
    [pd.read_csv(ZipFile(data).open(i), encoding='latin-1') for i in ZipFile(data).namelist() if i.endswith('csv')], # Try reading with 'latin-1' encoding
    ignore_index=True
)
df.shape

(59, 15)

In [ ]:
# Viewing the first 5  data
df.head(20)

,OBJECTID,SUBCOUNTY_NAME,DISTRICT_NAME,POP,Area,Karamoja,S_Yield_Ha,M_Yield_Ha,Crop_Area_Ha,S_Area_Ha,M_Area_Ha,S_Prod_Tot,M_Prod_Tot,Unnamed: 0,NAME
0,263.0,KACHERI,KOTIDO,17244.0,1.067176e+09,Y,354.207411,1137.467019,7023.533691,6434.342449,528.124229,2.279092e+06,6.007239e+05,NaN,NaN
1,264.0,KOTIDO,KOTIDO,52771.0,5.975752e+08,Y,367.890523,1162.996687,13587.990760,12455.592640,824.767081,4.582294e+06,9.592014e+05,NaN,NaN
2,265.0,KOTIDO TOWN COUNCIL,KOTIDO,27389.0,2.397240e+07,Y,369.314177,1167.005832,1656.531855,1520.322052,8.561644,5.614765e+05,9.991488e+03,NaN,NaN
3,266.0,NAKAPERIMORU,KOTIDO,38775.0,4.191116e+08,Y,283.324569,852.366578,7087.823334,6761.488901,45.721712,1.915696e+06,3.897166e+04,NaN,NaN
4,267.0,PANYANGARA,KOTIDO,65704.0,8.809559e+08,Y,373.836926,1283.859882,10398.249390,10111.198130,172.611914,3.779939e+06,2.216095e+05,NaN,NaN
5,268.0,RENGEN,KOTIDO,41273.0,6.527449e+08,Y,271.185843,1047.180128,13278.520430,12964.499730,171.585704,3.515789e+06,1.796811e+05,NaN,NaN
6,591.0,KAABONG EAST,KAABONG,42221.0,6.080194e+07,Y,160.588525,650.123565,1021.316990,1004.647534,15.660409,1.613349e+05,1.018120e+04,NaN,NaN
7,592.0,KAABONG TOWN COUNCIL,KAABONG,38857.0,1.307146e+07,Y,212.210703,1229.213444,175.080527,156.503888,18.526186,3.321180e+04,2.277264e+04,NaN,NaN
8,593.0,KAABONG WEST,KAABONG,41454.0,6.761236e+07,Y,208.040518,1056.416068,967.336727,910.254122,56.275355,1.893697e+05,5.945019e+04,NaN,NaN
9,594.0,KALAPATA,KAABONG,99203.0,2.231169e+08,Y,209.809352,633.423182,2834.349905,2501.368282,331.225795,5.248105e+05,2.098061e+05,NaN,NaN
10,595.0,KAMION,KAABONG,60070.0,1.199409e+09,Y,259.898246,714.475743,997.161021,411.807001,549.863337,1.070279e+05,3.928640e+05,NaN,NaN
11,596.0,KAPEDO,KAABONG,33951.0,3.045578e+08,Y,301.154328,1030.064093,2365.259806,1624.564380,722.649869,4.892446e+05,7.443757e+05,NaN,NaN
12,597.0,KATHILE,KAABONG,56870.0,2.284574e+08,Y,312.278615,1125.685462,6890.699234,5997.222911,867.873171,1.872804e+06,9.769522e+05,NaN,NaN
13,598.0,KAWALAKOL,KAABONG,37691.0,1.742041e+09,Y,298.449959,871.612802,3934.432233,2249.777060,1620.876815,6.714459e+05,1.412777e+06,NaN,NaN
14,599.0,LOBALANGIT,KAABONG,22907.0,3.025728e+08,Y,386.529819,985.192699,1890.248613,879.002339,1005.877396,3.397606e+05,9.909831e+05,NaN,NaN
15,600.0,LODIKO,KAABONG,31820.0,3.977008e+08,Y,164.652061,815.255729,401.797821,324.202666,75.244398,5.338064e+04,6.134343e+04,NaN,NaN
16,601.0,LOLELIA,KAABONG,100919.0,1.069331e+09,Y,285.213427,1273.397362,2700.676313,2039.327583,656.586397,5.816436e+05,8.360954e+05,NaN,NaN
17,602.0,LOYORO,KAABONG,16608.0,1.330019e+09,Y,284.183058,1303.403556,1491.771813,1318.309036,154.682239,3.746411e+05,2.016134e+05,NaN,NaN
18,603.0,NAPORE (KARENGA),KAABONG,20394.0,3.095774e+08,Y,295.734350,765.334926,1494.047587,267.559128,1221.532726,7.912642e+04,9.348817e+05,NaN,NaN
19,604.0,SIDOK,KAABONG,24092.0,1.253306e+08,Y,285.336294,1396.991494,957.493946,859.649027,97.542243,2.452891e+05,1.362657e+05,NaN,NaN

In [ ]:
# Viewing the last 5 rows of data
df.tail(20)

,OBJECTID,SUBCOUNTY_NAME,DISTRICT_NAME,POP,Area,Karamoja,S_Yield_Ha,M_Yield_Ha,Crop_Area_Ha,S_Area_Ha,M_Area_Ha,S_Prod_Tot,M_Prod_Tot,Unnamed: 0,NAME
39,983.0,LORENGEDWAT,NAKAPIRIPIRIT,9929.0,4.357146e+08,Y,188.699612,795.733280,2008.068169,1917.576345,80.417027,3.618459e+05,6.399050e+04,NaN,NaN
40,984.0,NABILATUK,NAKAPIRIPIRIT,27534.0,4.997769e+08,Y,259.454122,1066.204758,3276.653762,3156.538704,87.474549,8.189770e+05,9.326578e+04,NaN,NaN
41,1023.0,IRIIRI,NAPAK,46979.0,1.030623e+09,Y,229.299157,873.452242,5473.443674,1550.944570,3840.698081,3.556303e+05,3.354666e+06,NaN,NaN
42,1024.0,LOPEEI,NAPAK,18815.0,7.907824e+08,Y,108.156411,1053.257168,3120.318045,2121.747320,955.264617,2.294806e+05,1.006139e+06,NaN,NaN
43,1025.0,LORENGECORA,NAPAK,2503.0,1.189980e+08,Y,184.081197,841.815010,1031.196285,672.121886,358.550335,1.237250e+05,3.018331e+05,NaN,NaN
44,1026.0,LOTOME,NAPAK,17834.0,1.258576e+08,Y,128.555598,507.907068,1849.966589,1770.358693,78.035892,2.275895e+05,3.963498e+04,NaN,NaN
45,1027.0,MATANY,NAPAK,29495.0,3.382525e+08,Y,130.007687,497.353282,2990.847377,2664.796115,288.329571,3.464440e+05,1.434017e+05,NaN,NaN
46,1028.0,NAPAK TOWN COUNCIL,NAPAK,8010.0,1.509064e+08,Y,175.828068,725.813930,792.249273,386.158033,401.173442,6.789742e+04,2.911773e+05,NaN,NaN
47,1029.0,NGOLERIET,NAPAK,20790.0,1.588876e+08,Y,134.084089,528.699822,1215.227445,1145.339875,68.124005,1.535719e+05,3.601715e+04,NaN,NaN
48,1295.0,NYAKWAE,ABIM,16470.0,7.696097e+08,Y,329.759030,779.225031,792.898789,342.816838,331.111340,1.130469e+05,2.580102e+05,NaN,NaN
49,1313.0,LOKOPO,NAPAK,23200.0,1.794471e+09,Y,120.862232,748.829862,6471.047334,5830.549392,553.543123,7.046932e+05,4.145096e+05,NaN,NaN
50,1318.0,RUPA,MOROTO,41493.0,2.069555e+09,Y,114.270921,699.334309,2217.290717,1989.119508,222.838881,2.272985e+05,1.558389e+05,NaN,NaN
51,1320.0,MORUITA,NAKAPIRIPIRIT,16588.0,8.392937e+08,Y,430.557375,1248.955812,1161.390229,185.283445,959.671162,7.977515e+04,1.198587e+06,NaN,NaN
52,92.0,NaN,NaN,90385.0,2.771977e+09,NaN,449.000000,1040.000000,5470.068394,3277.295971,1848.621855,1.471506e+06,1.922567e+06,NaN,ABIM
53,96.0,NaN,NaN,101790.0,1.643583e+09,NaN,205.000000,1297.000000,5765.443719,2973.423860,2733.661014,6.095520e+05,3.545558e+06,NaN,AMUDAT
54,20.0,NaN,NaN,627057.0,7.373606e+09,NaN,279.000000,945.000000,28121.672530,20544.194960,7394.416334,5.731830e+06,6.987723e+06,NaN,KAABONG
55,85.0,NaN,NaN,243157.0,3.641540e+09,NaN,331.000000,1148.000000,53032.649450,50247.443900,1751.372284,1.663190e+07,2.010575e+06,NaN,KOTIDO
56,5.0,NaN,NaN,127811.0,3.570161e+09,NaN,128.000000,355.000000,5954.814048,4741.748776,1190.050606,6.069440e+05,4.224680e+05,NaN,MOROTO
57,54.0,NaN,NaN,146780.0,4.216324e+09,NaN,356.000000,1264.000000,26372.698490,19237.333210,6425.788414,6.848491e+06,8.122197e+06,NaN,NAKAPIRIPIRIT
58,80.0,NaN,NaN,167625.0,4.508782e+09,NaN,137.000000,854.000000,22944.296020,16142.015880,6543.719066,2.211456e+06,5.588336e+06,NaN,NAPAK

## DATA CLEANING
looking for any missing values in our DataFrame and analyzing the best way to handle the missing values.

Ensuring data accuracy by making sure there are no duplicates.

Cleaning data by dropping columns that were not in use.

In [ ]:
# looking for missing values
df.isnull().sum()

OBJECTID           0
SUBCOUNTY_NAME     7
DISTRICT_NAME      7
POP                0
Area               0
Karamoja           7
S_Yield_Ha         0
M_Yield_Ha         0
Crop_Area_Ha       0
S_Area_Ha          0
M_Area_Ha          0
S_Prod_Tot         0
M_Prod_Tot         0
Unnamed: 0        59
NAME              52
dtype: int64

In [ ]:
# Looking for duplicates
df.duplicated().sum()

0

In [ ]:
# All columns in the data set
df.columns

Index(['OBJECTID', 'SUBCOUNTY_NAME', 'DISTRICT_NAME', 'POP', 'Area',
       'Karamoja', 'S_Yield_Ha', 'M_Yield_Ha', 'Crop_Area_Ha', 'S_Area_Ha',
       'M_Area_Ha', 'S_Prod_Tot', 'M_Prod_Tot', 'Unnamed: 0', 'NAME'],
      dtype='object')

In [ ]:
# Dropping Columns that are not in use
df = df.drop('Unnamed: 0', axis=1)
df.head()

,OBJECTID,SUBCOUNTY_NAME,DISTRICT_NAME,POP,Area,Karamoja,S_Yield_Ha,M_Yield_Ha,Crop_Area_Ha,S_Area_Ha,M_Area_Ha,S_Prod_Tot,M_Prod_Tot,NAME
0,263.0,KACHERI,KOTIDO,17244.0,1.067176e+09,Y,354.207411,1137.467019,7023.533691,6434.342449,528.124229,2.279092e+06,600723.892900,NaN
1,264.0,KOTIDO,KOTIDO,52771.0,5.975752e+08,Y,367.890523,1162.996687,13587.990760,12455.592640,824.767081,4.582294e+06,959201.382500,NaN
2,265.0,KOTIDO TOWN COUNCIL,KOTIDO,27389.0,2.397240e+07,Y,369.314177,1167.005832,1656.531855,1520.322052,8.561644,5.614765e+05,9991.488268,NaN
3,266.0,NAKAPERIMORU,KOTIDO,38775.0,4.191116e+08,Y,283.324569,852.366578,7087.823334,6761.488901,45.721712,1.915696e+06,38971.659080,NaN
4,267.0,PANYANGARA,KOTIDO,65704.0,8.809559e+08,Y,373.836926,1283.859882,10398.249390,10111.198130,172.611914,3.779939e+06,221609.511400,NaN

**Dealing with missing values**

The column NAME has the names of the missing district names by replacing the disappeared district name column I will solve the missing value problem.
Since I can use District Name column as the location then I can drop the SubCounty Name column

In [ ]:
# Showing all rows with missing values
df[df.isnull().any(axis=1)]

,OBJECTID,SUBCOUNTY_NAME,DISTRICT_NAME,POP,Area,Karamoja,S_Yield_Ha,M_Yield_Ha,Crop_Area_Ha,S_Area_Ha,M_Area_Ha,S_Prod_Tot,M_Prod_Tot,Unnamed: 0,NAME
0,263.0,KACHERI,KOTIDO,17244.0,1.067176e+09,Y,354.207411,1137.467019,7023.533691,6434.342449,528.124229,2.279092e+06,6.007239e+05,NaN,NaN
1,264.0,KOTIDO,KOTIDO,52771.0,5.975752e+08,Y,367.890523,1162.996687,13587.990760,12455.592640,824.767081,4.582294e+06,9.592014e+05,NaN,NaN
2,265.0,KOTIDO TOWN COUNCIL,KOTIDO,27389.0,2.397240e+07,Y,369.314177,1167.005832,1656.531855,1520.322052,8.561644,5.614765e+05,9.991488e+03,NaN,NaN
3,266.0,NAKAPERIMORU,KOTIDO,38775.0,4.191116e+08,Y,283.324569,852.366578,7087.823334,6761.488901,45.721712,1.915696e+06,3.897166e+04,NaN,NaN
4,267.0,PANYANGARA,KOTIDO,65704.0,8.809559e+08,Y,373.836926,1283.859882,10398.249390,10111.198130,172.611914,3.779939e+06,2.216095e+05,NaN,NaN
5,268.0,RENGEN,KOTIDO,41273.0,6.527449e+08,Y,271.185843,1047.180128,13278.520430,12964.499730,171.585704,3.515789e+06,1.796811e+05,NaN,NaN
6,591.0,KAABONG EAST,KAABONG,42221.0,6.080194e+07,Y,160.588525,650.123565,1021.316990,1004.647534,15.660409,1.613349e+05,1.018120e+04,NaN,NaN
7,592.0,KAABONG TOWN COUNCIL,KAABONG,38857.0,1.307146e+07,Y,212.210703,1229.213444,175.080527,156.503888,18.526186,3.321180e+04,2.277264e+04,NaN,NaN
8,593.0,KAABONG WEST,KAABONG,41454.0,6.761236e+07,Y,208.040518,1056.416068,967.336727,910.254122,56.275355,1.893697e+05,5.945019e+04,NaN,NaN
9,594.0,KALAPATA,KAABONG,99203.0,2.231169e+08,Y,209.809352,633.423182,2834.349905,2501.368282,331.225795,5.248105e+05,2.098061e+05,NaN,NaN
10,595.0,KAMION,KAABONG,60070.0,1.199409e+09,Y,259.898246,714.475743,997.161021,411.807001,549.863337,1.070279e+05,3.928640e+05,NaN,NaN
11,596.0,KAPEDO,KAABONG,33951.0,3.045578e+08,Y,301.154328,1030.064093,2365.259806,1624.564380,722.649869,4.892446e+05,7.443757e+05,NaN,NaN
12,597.0,KATHILE,KAABONG,56870.0,2.284574e+08,Y,312.278615,1125.685462,6890.699234,5997.222911,867.873171,1.872804e+06,9.769522e+05,NaN,NaN
13,598.0,KAWALAKOL,KAABONG,37691.0,1.742041e+09,Y,298.449959,871.612802,3934.432233,2249.777060,1620.876815,6.714459e+05,1.412777e+06,NaN,NaN
14,599.0,LOBALANGIT,KAABONG,22907.0,3.025728e+08,Y,386.529819,985.192699,1890.248613,879.002339,1005.877396,3.397606e+05,9.909831e+05,NaN,NaN
15,600.0,LODIKO,KAABONG,31820.0,3.977008e+08,Y,164.652061,815.255729,401.797821,324.202666,75.244398,5.338064e+04,6.134343e+04,NaN,NaN
16,601.0,LOLELIA,KAABONG,100919.0,1.069331e+09,Y,285.213427,1273.397362,2700.676313,2039.327583,656.586397,5.816436e+05,8.360954e+05,NaN,NaN
17,602.0,LOYORO,KAABONG,16608.0,1.330019e+09,Y,284.183058,1303.403556,1491.771813,1318.309036,154.682239,3.746411e+05,2.016134e+05,NaN,NaN
18,603.0,NAPORE (KARENGA),KAABONG,20394.0,3.095774e+08,Y,295.734350,765.334926,1494.047587,267.559128,1221.532726,7.912642e+04,9.348817e+05,NaN,NaN
19,604.0,SIDOK,KAABONG,24092.0,1.253306e+08,Y,285.336294,1396.991494,957.493946,859.649027,97.542243,2.452891e+05,1.362657e+05,NaN,NaN
20,765.0,ABIM,ABIM,14377.0,1.886131e+08,Y,501.263249,1183.089648,999.371589,593.531315,259.449330,2.975154e+05,3.069518e+05,NaN,NaN
21,766.0,ABIM TOWN COUNCIL,ABIM,11489.0,1.159412e+08,Y,439.750995,1061.151087,788.462800,472.601700,282.613094,2.078271e+05,2.998952e+05,NaN,NaN
22,767.0,ALEREK,ABIM,12573.0,1.255761e+09,Y,520.407672,1259.122045,1266.109868,902.684120,354.449035,4.697637e+05,4.462946e+05,NaN,NaN
23,768.0,LOTUKEI,ABIM,18641.0,1.916845e+08,Y,382.868986,1003.303910,698.171218,364.988891,321.847331,1.397429e+05,3.229107e+05,NaN,NaN
24,769.0,MORULEM,ABIM,16834.0,2.503649e+08,Y,407.500416,962.958170,925.054130,600.673107,299.151724,2.447745e+05,2.880706e+05,NaN,NaN
25,810.0,KARITA,AMUDAT,45015.0,6.580088e+08,Y,193.904842,1286.723173,2513.271830,1358.647499,1100.152370,2.634483e+05,1.415592e+06,NaN,NaN
26,811.0,LOROO,AMUDAT,22541.0,3.719703e+08,Y,200.696210,1196.088040,1539.401382,879.668004,658.917612,1.765460e+05,7.881235e+05,NaN,NaN
27,812.0,AMUDAT,AMUDAT,30181.0,5.963931e+08,Y,239.047878,1379.045945,1651.998420,676.783266,972.174246,1.617836e+05,1.340673e+06,NaN,NaN
28,813.0,AMUDAT TOWN COUNCIL,AMUDAT,4053.0,1.720711e+07,Y,146.117797,861.208491,60.772086,58.325090,2.416786,8.522334e+03,2.081356e+03,NaN,NaN
29,925.0,KATIKEKILE,MOROTO,11772.0,2.774520e+08,Y,311.006215,546.140294,145.243518,30.157048,103.277562,9.379029e+03,5.640404e+04,NaN,NaN
30,926.0,NADUNGET,MOROTO,42115.0,5.960238e+08,Y,133.667936,591.270355,2480.121900,2406.190665,70.505694,3.216305e+05,4.168793e+04,NaN,NaN
31,927.0,TAPAC,MOROTO,21999.0,6.222665e+08,Y,155.869934,211.965635,1111.664207,315.979223,793.237094,4.925166e+04,1.681390e+05,NaN,NaN
32,928.0,NORTHERN DIVISION,MOROTO,7161.0,2.738777e+06,Y,131.977698,241.538427,0.322316,0.130941,0.191375,1.728126e+01,4.622440e+01,NaN,NaN
33,929.0,SOUTHERN DIVISION,MOROTO,3272.0,2.121209e+06,Y,114.795569,0.000000,0.171390,0.171390,0.000000,1.967487e+01,0.000000e+00,NaN,NaN
34,978.0,LOREGAE,NAKAPIRIPIRIT,26644.0,9.286834e+08,Y,384.256293,1114.593607,5759.618906,4622.491870,864.110569,1.776222e+06,9.631321e+05,NaN,NaN
35,979.0,NAKAPIRIPIRIT TOWN COUNCIL,NAKAPIRIPIRIT,1418.0,4.673094e+06,Y,482.438793,1257.802716,29.145760,1.339919,27.795767,6.464290e+02,3.496159e+04,NaN,NaN
36,980.0,NAMALU,NAKAPIRIPIRIT,25905.0,5.530674e+08,Y,560.313070,1325.254872,5793.507623,2197.572106,3293.749460,1.231328e+06,4.365058e+06,NaN,NaN
37,981.0,KAKOMONGOLE,NAKAPIRIPIRIT,15960.0,3.127091e+08,Y,398.979005,1318.261936,3264.534948,2791.837410,457.357605,1.113885e+06,6.029171e+05,NaN,NaN
38,982.0,LOLACHAT,NAKAPIRIPIRIT,22801.0,6.424017e+08,Y,334.284302,1225.930541,5079.779088,4364.693411,655.212276,1.459048e+06,8.032447e+05,NaN,NaN
39,983.0,LORENGEDWAT,NAKAPIRIPIRIT,9929.0,4.357146e+08,Y,188.699612,795.733280,2008.068169,1917.576345,80.417027,3.618459e+05,6.399050e+04,NaN,NaN
40,984.0,NABILATUK,NAKAPIRIPIRIT,27534.0,4.997769e+08,Y,259.454122,1066.204758,3276.653762,3156.538704,87.474549,8.189770e+05,9.326578e+04,NaN,NaN
41,1023.0,IRIIRI,NAPAK,46979.0,1.030623e+09,Y,229.299157,873.452242,5473.443674,1550.944570,3840.698081,3.556303e+05,3.354666e+06,NaN,NaN
42,1024.0,LOPEEI,NAPAK,18815.0,7.907824e+08,Y,108.156411,1053.257168,3120.318045,2121.747320,955.264617,2.294806e+05,1.006139e+06,NaN,NaN
43,1025.0,LORENGECORA,NAPAK,2503.0,1.189980e+08,Y,184.081197,841.815010,1031.196285,672.121886,358.550335,1.237250e+05,3.018331e+05,NaN,NaN
44,1026.0,LOTOME,NAPAK,17834.0,1.258576e+08,Y,128.555598,507.907068,1849.966589,1770.358693,78.035892,2.275895e+05,3.963498e+04,NaN,NaN
45,1027.0,MATANY,NAPAK,29495.0,3.382525e+08,Y,130.007687,497.353282,2990.847377,2664.796115,288.329571,3.464440e+05,1.434017e+05,NaN,NaN
46,1028.0,NAPAK TOWN COUNCIL,NAPAK,8010.0,1.509064e+08,Y,175.828068,725.813930,792.249273,386.158033,401.173442,6.789742e+04,2.911773e+05,NaN,NaN
47,1029.0,NGOLERIET,NAPAK,20790.0,1.588876e+08,Y,134.084089,528.699822,1215.227445,1145.339875,68.124005,1.535719e+05,3.601715e+04,NaN,NaN
48,1295.0,NYAKWAE,ABIM,16470.0,7.696097e+08,Y,329.759030,779.225031,792.898789,342.816838,331.111340,1.130469e+05,2.580102e+05,NaN,NaN
49,1313.0,LOKOPO,NAPAK,23200.0,1.794471e+09,Y,120.862232,748.829862,6471.047334,5830.549392,553.543123,7.046932e+05,4.145096e+05,NaN,NaN
50,1318.0,RUPA,MOROTO,41493.0,2.069555e+09,Y,114.270921,699.334309,2217.290717,1989.119508,222.838881,2.272985e+05,1.558389e+05,NaN,NaN
51,1320.0,MORUITA,NAKAPIRIPIRIT,16588.0,8.392937e+08,Y,430.557375,1248.955812,1161.390229,185.283445,959.671162,7.977515e+04,1.198587e+06,NaN,NaN
52,92.0,NaN,NaN,90385.0,2.771977e+09,NaN,449.000000,1040.000000,5470.068394,3277.295971,1848.621855,1.471506e+06,1.922567e+06,NaN,ABIM
53,96.0,NaN,NaN,101790.0,1.643583e+09,NaN,205.000000,1297.000000,5765.443719,2973.423860,2733.661014,6.095520e+05,3.545558e+06,NaN,AMUDAT
54,20.0,NaN,NaN,627057.0,7.373606e+09,NaN,279.000000,945.000000,28121.672530,20544.194960,7394.416334,5.731830e+06,6.987723e+06,NaN,KAABONG
55,85.0,NaN,NaN,243157.0,3.641540e+09,NaN,331.000000,1148.000000,53032.649450,50247.443900,1751.372284,1.663190e+07,2.010575e+06,NaN,KOTIDO
56,5.0,NaN,NaN,127811.0,3.570161e+09,NaN,128.000000,355.000000,5954.814048,4741.748776,1190.050606,6.069440e+05,4.224680e+05,NaN,MOROTO
57,54.0,NaN,NaN,146780.0,4.216324e+09,NaN,356.000000,1264.000000,26372.698490,19237.333210,6425.788414,6.848491e+06,8.122197e+06,NaN,NAKAPIRIPIRIT
58,80.0,NaN,NaN,167625.0,4.508782e+09,NaN,137.000000,854.000000,22944.296020,16142.015880,6543.719066,2.211456e+06,5.588336e+06,NaN,NAPAK

In [ ]:
# Unique values for district
df['DISTRICT_NAME'].value_counts()

DISTRICT_NAME
KAABONG          14
NAKAPIRIPIRIT     8
NAPAK             8
KOTIDO            6
ABIM              6
MOROTO            6
AMUDAT            4
Name: count, dtype: int64

In [ ]:
# Looking for unique values and their sum for subcounty
df['SUBCOUNTY_NAME'].value_counts()

SUBCOUNTY_NAME
KACHERI                       1
KOTIDO                        1
AMUDAT TOWN COUNCIL           1
KATIKEKILE                    1
NADUNGET                      1
TAPAC                         1
NORTHERN DIVISION             1
SOUTHERN DIVISION             1
LOREGAE                       1
NAKAPIRIPIRIT TOWN COUNCIL    1
NAMALU                        1
KAKOMONGOLE                   1
LOLACHAT                      1
LORENGEDWAT                   1
NABILATUK                     1
IRIIRI                        1
LOPEEI                        1
LORENGECORA                   1
LOTOME                        1
MATANY                        1
NAPAK TOWN COUNCIL            1
NGOLERIET                     1
NYAKWAE                       1
LOKOPO                        1
RUPA                          1
AMUDAT                        1
LOROO                         1
KARITA                        1
KATHILE                       1
KOTIDO TOWN COUNCIL           1
NAKAPERIMORU                  1
PANYANGARA                    1
RENGEN                        1
KAABONG  EAST                 1
KAABONG TOWN COUNCIL          1
KAABONG WEST                  1
KALAPATA                      1
KAMION                        1
KAPEDO                        1
KAWALAKOL                     1
MORULEM                       1
LOBALANGIT                    1
LODIKO                        1
LOLELIA                       1
LOYORO                        1
NAPORE (KARENGA)              1
SIDOK                         1
ABIM                          1
ABIM TOWN COUNCIL             1
ALEREK                        1
LOTUKEI                       1
MORUITA                       1
Name: count, dtype: int64

In [ ]:
# A function to replace the missing values of the column district name with the corresponding index on the column name
df['DISTRICT_NAME']= df['DISTRICT_NAME'].fillna(df.loc[52:58, 'NAME'])
df['DISTRICT_NAME']

0            KOTIDO
1            KOTIDO
2            KOTIDO
3            KOTIDO
4            KOTIDO
5            KOTIDO
6           KAABONG
7           KAABONG
8           KAABONG
9           KAABONG
10          KAABONG
11          KAABONG
12          KAABONG
13          KAABONG
14          KAABONG
15          KAABONG
16          KAABONG
17          KAABONG
18          KAABONG
19          KAABONG
20             ABIM
21             ABIM
22             ABIM
23             ABIM
24             ABIM
25           AMUDAT
26           AMUDAT
27           AMUDAT
28           AMUDAT
29           MOROTO
30           MOROTO
31           MOROTO
32           MOROTO
33           MOROTO
34    NAKAPIRIPIRIT
35    NAKAPIRIPIRIT
36    NAKAPIRIPIRIT
37    NAKAPIRIPIRIT
38    NAKAPIRIPIRIT
39    NAKAPIRIPIRIT
40    NAKAPIRIPIRIT
41            NAPAK
42            NAPAK
43            NAPAK
44            NAPAK
45            NAPAK
46            NAPAK
47            NAPAK
48             ABIM
49            NAPAK
50           MOROTO
51    NAKAPIRIPIRIT
52             ABIM
53           AMUDAT
54          KAABONG
55           KOTIDO
56           MOROTO
57    NAKAPIRIPIRIT
58            NAPAK
Name: DISTRICT_NAME, dtype: object

In [ ]:
# Unique values in Karamoja
df['Karamoja'].value_counts()

Karamoja
Y    52
Name: count, dtype: int64

In [ ]:
# Filling the missing values for the karamoja column
df['Karamoja']= df['Karamoja'].fillna('Y')
df['Karamoja']

0     Y
1     Y
2     Y
3     Y
4     Y
5     Y
6     Y
7     Y
8     Y
9     Y
10    Y
11    Y
12    Y
13    Y
14    Y
15    Y
16    Y
17    Y
18    Y
19    Y
20    Y
21    Y
22    Y
23    Y
24    Y
25    Y
26    Y
27    Y
28    Y
29    Y
30    Y
31    Y
32    Y
33    Y
34    Y
35    Y
36    Y
37    Y
38    Y
39    Y
40    Y
41    Y
42    Y
43    Y
44    Y
45    Y
46    Y
47    Y
48    Y
49    Y
50    Y
51    Y
52    Y
53    Y
54    Y
55    Y
56    Y
57    Y
58    Y
Name: Karamoja, dtype: object

In [ ]:
# Filling the missing values in subcounty column with
df['SUBCOUNTY_NAME']= df['SUBCOUNTY_NAME'].fillna(df.loc[52:58, 'NAME'])
df['SUBCOUNTY_NAME']

0                        KACHERI
1                         KOTIDO
2            KOTIDO TOWN COUNCIL
3                   NAKAPERIMORU
4                     PANYANGARA
5                         RENGEN
6                  KAABONG  EAST
7           KAABONG TOWN COUNCIL
8                   KAABONG WEST
9                       KALAPATA
10                        KAMION
11                        KAPEDO
12                       KATHILE
13                     KAWALAKOL
14                    LOBALANGIT
15                        LODIKO
16                       LOLELIA
17                        LOYORO
18              NAPORE (KARENGA)
19                         SIDOK
20                          ABIM
21             ABIM TOWN COUNCIL
22                        ALEREK
23                       LOTUKEI
24                       MORULEM
25                        KARITA
26                         LOROO
27                        AMUDAT
28           AMUDAT TOWN COUNCIL
29                    KATIKEKILE
30                      NADUNGET
31                         TAPAC
32             NORTHERN DIVISION
33             SOUTHERN DIVISION
34                       LOREGAE
35    NAKAPIRIPIRIT TOWN COUNCIL
36                        NAMALU
37                   KAKOMONGOLE
38                      LOLACHAT
39                   LORENGEDWAT
40                     NABILATUK
41                        IRIIRI
42                        LOPEEI
43                   LORENGECORA
44                        LOTOME
45                        MATANY
46            NAPAK TOWN COUNCIL
47                     NGOLERIET
48                       NYAKWAE
49                        LOKOPO
50                          RUPA
51                       MORUITA
52                          ABIM
53                        AMUDAT
54                       KAABONG
55                        KOTIDO
56                        MOROTO
57                 NAKAPIRIPIRIT
58                         NAPAK
Name: SUBCOUNTY_NAME, dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   OBJECTID        59 non-null     float64
 1   SUBCOUNTY_NAME  59 non-null     object
 2   DISTRICT_NAME   59 non-null     object
 3   POP             59 non-null     float64
 4   Area            59 non-null     float64
 5   Karamoja        59 non-null     object
 6   S_Yield_Ha      59 non-null     float64
 7   M_Yield_Ha      59 non-null     float64
 8   Crop_Area_Ha    59 non-null     float64
 9   S_Area_Ha       59 non-null     float64
 10  M_Area_Ha       59 non-null     float64
 11  S_Prod_Tot      59 non-null     float64
 12  M_Prod_Tot      59 non-null     float64
 13  NAME            7 non-null      object
dtypes: float64(10), object(4)
memory usage: 6.6+ KB

# ANALYZING THE DATA

Since the data has no issues, we can proceed to analyze the data and solve the Objectives

In [ ]:
# Summary statistics
df.describe()

,OBJECTID,POP,Area,S_Yield_Ha,M_Yield_Ha,Crop_Area_Ha,S_Area_Ha,M_Area_Ha,S_Prod_Tot,M_Prod_Tot
count,59.000000,59.000000,5.900000e+01,59.000000,59.000000,59.000000,59.000000,59.000000,5.900000e+01,5.900000e+01
mean,701.711864,51003.542373,9.398630e+08,273.586459,945.703334,5005.479412,3971.642595,945.343375,1.156108e+06,9.695461e+05
std,353.856198,87994.178609,1.338079e+09,117.624497,319.200199,8668.593760,7654.205284,1570.917869,2.483804e+06,1.655393e+06
min,5.000000,1418.000000,2.121209e+06,108.156411,0.000000,0.171390,0.130941,0.000000,1.728126e+01,0.000000e+00
25%,592.500000,16721.000000,1.901488e+08,170.240064,757.082394,998.266305,533.066508,92.508396,1.466574e+05,7.862814e+04
50%,767.000000,26644.000000,4.997769e+08,279.000000,1030.064093,2008.068169,1550.944570,358.550335,3.397606e+05,3.069518e+05
75%,980.500000,43618.000000,1.048900e+09,361.945262,1211.009291,5616.531290,3216.917338,957.467889,9.664307e+05,9.700422e+05
max,1320.000000,627057.000000,7.373606e+09,560.313070,1396.991494,53032.649450,50247.443900,7394.416334,1.663190e+07,8.122197e+06

In [ ]:
# Grouping district and population,crop area and yield
densely_pop = df.groupby('DISTRICT_NAME').agg({
    'POP': 'sum',
    'Crop_Area_Ha': 'sum',
    'S_Yield_Ha': 'sum',
    'M_Yield_Ha': 'sum'
    }).reset_index()
densely_populated = densely_pop.sort_values(by='POP', ascending=False)
densely_populated

   DISTRICT_NAME        POP   Crop_Area_Ha   S_Yield_Ha    M_Yield_Ha
2        KAABONG  1254114.0   56243.345064  3943.079255  14795.590123
3         KOTIDO   486313.0  106065.298910  2350.759448   7798.876126
6          NAPAK   335251.0   45888.592042  1347.874440   6631.128385
5  NAKAPIRIPIRIT   293559.0   52745.396975  3394.982573  10616.737522
4         MOROTO   255623.0   11909.628096  1089.588273   2645.249021
1         AMUDAT   203580.0   11530.887437   984.766726   6020.065649
0           ABIM   180769.0   10940.136788  3030.550349   7288.849891

Kaabong is the most densely populated district but it has a lower crop coverage area compared to Kotido. Kaabong should be allocated more land for cultivation as it has 767,801 more people than Kotido.

In [ ]:
# Analyzing Crop productivity by District
crop = df.groupby('DISTRICT_NAME').agg({
    'Crop_Area_Ha': 'sum',
    'S_Prod_Tot': 'sum',
    'M_Prod_Tot': 'sum'
    }).reset_index()
crop_productivity = crop.sort_values(by='Crop_Area_Ha', ascending=False)
crop_productivity

   DISTRICT_NAME   Crop_Area_Ha    S_Prod_Tot    M_Prod_Tot
3         KOTIDO  106065.298910  3.326619e+07  4.020754e+06
2        KAABONG   56243.345064  1.145492e+07  1.397808e+07
5  NAKAPIRIPIRIT   52745.396975  1.369022e+07  1.624735e+07
6          NAPAK   45888.592042  4.420488e+06  1.117572e+07
4         MOROTO   11909.628096  1.214541e+06  8.445841e+05
1         AMUDAT   11530.887437  1.219852e+06  7.092027e+06
0           ABIM   10940.136788  2.944177e+06  3.844700e+06

Kotido has a higher crop coverage and Sorguhm productivity is more than Maize productivity, hence Sorghum should be given more priority but in Kaabong Maize should be given land for cultivation

In [ ]:
# To Analyze which District has the highest crop yield
crop = df.groupby('DISTRICT_NAME').agg({
    'Crop_Area_Ha': 'sum',
    'S_Yield_Ha': 'sum',
    'M_Yield_Ha': 'sum'
    }).reset_index()
crop_yield = crop.sort_values(by='Crop_Area_Ha', ascending=False)
crop_yield

   DISTRICT_NAME   Crop_Area_Ha   S_Yield_Ha    M_Yield_Ha
3         KOTIDO  106065.298910  2350.759448   7798.876126
2        KAABONG   56243.345064  3943.079255  14795.590123
5  NAKAPIRIPIRIT   52745.396975  3394.982573  10616.737522
6          NAPAK   45888.592042  1347.874440   6631.128385
4         MOROTO   11909.628096  1089.588273   2645.249021
1         AMUDAT   11530.887437   984.766726   6020.065649
0           ABIM   10940.136788  3030.550349   7288.849891

Maize has the highest yield in Kaabong District

In [ ]:
# Correlation between area,crop area and yield
Corr_data = df[['Area','Crop_Area_Ha','S_Yield_Ha','M_Yield_Ha']].corr()
Corr_data

                  Area  Crop_Area_Ha  S_Yield_Ha  M_Yield_Ha
Area          1.000000      0.725060   -0.014509    0.052458
Crop_Area_Ha  0.725060      1.000000    0.088659    0.178695
S_Yield_Ha   -0.014509      0.088659    1.000000    0.616849
M_Yield_Ha    0.052458      0.178695    0.616849    1.000000

In [ ]:
# To export our cleaned data
df.to_csv('Karamoja.csv', index=False)

Crop area per Ha has a moderately high positive correlation with the area. sorghum has a low negative correlation with area meaning that an increase in area causes a small decrease in sorghum yield. While in maize a unit change in Area causes an increase of maize yield by 0.05%

There is a moderate positive correlation between the 2 crop yields.

## CONCLUTION

From the analysis, it can be concluded that:


1.   Kaabong district is the most densely populated district in the Karamoja region, it has a lower Crop area than Kotido but has the highest crop yield
2. Sorghum has the highest average productivity overall and has highest crop area.
3. Kaabong is the district with the highest crop yeild
4. There is weak positive correlation between crop area and yield.

## RECOMENDATIONS



1.  Sorghum has the highest productivity and hence should be given more priority as it is more drought-resistant.
2. Kaabong as the most densely populated district should have more land allocated for crop production.
3. More production of drought-resistant crops could solve the food insecurity crisis.
4. There should be more investigation into which crops perform best in which district as maize performs better in Kaabong District.